/*
 * 
 * Text Color
 *
 */

$text-field-default: $dark-default;

/*
 * 
 * Resting
 *
 */

$text-field-resting: $dark-enabled;
$text-field-resting-bg: $dark-lightest;

/*
 * 
 * Focus / Activated
 *
 */

$text-field-focus: $hi-gold;
$text-field-focus-bg: rgba($hi-gold, 0.16);

/*
 * 
 * Enabled
 *
 */

$text-field-enabled: $dark-enabled;
$text-field-enabled-bg: $dark-lightest;

/*
 * 
 * Error
 *
 */

$text-field-error: $hi-red;
$text-field-error-bg: rgba($hi-red, 0.16);

/*
 * 
 * Disabled
 *
 */

$text-field-disabled: $dark-disabled;
$text-field-disabled-bg: $dark-lightest;

/*
 * 
 * Icons
 *
 */

$text-field-icon-black: $text-field-default;
$text-field-icon-red: $hi-red;

/*
 * 
 * Styles - Default
 *
 */

.textfield {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
  min-width: 328px;
  color: $text-field-resting;

  .field-label {
    @include body2;
  }

  .textbox {
    @include subtitle1;
    width: 100%;
    height: 50px;
    padding: 0 16px;
    border-radius: 8px;
    background-color: $text-field-resting-bg;
    border-color: $text-field-resting-bg;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    input {
      width: 100%;
      border: none;
      background-color: transparent;
      /* remove browser's outline when on focus */
      outline: none;
    }

    /* user injected icon (front) */
    .icon {
      padding: 0 8px 0 0;
      color: $text-field-icon-black;
    }

    /* user injected icon (last) */
    .icon:last-child {
      padding: 0 0 0 8px;
      justify-self: flex-end;
      cursor: pointer;
    }

    /* icon enabled by class name */
    &:before {
      @include labelMark;
      padding-left: 0;
      color: $text-field-icon-black;
    }
    &:after {
      @include labelMark;
      padding-right: 0;
      color: $text-field-icon-black;
    }
  }

  .helper-text {
    @include caption;
    padding: 0 16px;
  }
}

/*
 * 
 * Styles - Focus / Activated
 *
 */

.textfield:focus,
.textfield:focus-within,
.textfield:visited,
.textfield.activated {
  color: $text-field-focus;

  .textbox {
    background-color: $text-field-focus-bg;
    border-color: $text-field-focus-bg;

    .icon {
      color: $text-field-default;
    }

    &:after {
      content: "\EBA2";
    }
  }
}

/*
 * 
 * Styles - Enabled
 *
 */

.textfield.enabled {
  color: $text-field-enabled;

  .textbox {
    .icon {
      color: $text-field-default;
    }
    .icon:last-child {
      display: none;
    }

    &:after {
      content: "\EBA2";
    }
  }
}

/*
 * 
 * Styles - Error
 *
 */

.textfield.error {
  color: $text-field-error;

  .textbox {
    background-color: $text-field-error-bg;
    border-color: $text-field-error-bg;

    .icon {
      color: $text-field-error;
    }
    .icon:last-child {
      display: none;
    }

    &:after {
      content: "\ED94";
      color: $text-field-error;
    }
  }

  .helper-text {
    color: $text-field-error;
  }
}

/*
 * 
 * Styles - Disabled
 *
 */

.textfield.disabled {
  color: $text-field-disabled;

  .textbox {
    background-color: $text-field-disabled-bg;
    border-color: $text-field-disabled-bg;

    input {
      background-color: transparent;
      cursor: not-allowed;
      &::placeholder {
        color: $text-field-disabled;
      }
    }

    .icon {
      color: $text-field-disabled;
    }
    .icon:last-child {
      display: none;
    }
  }

  .helper-text {
    color: $text-field-disabled;
  }
}

/* 
 *
 * Styles - Outlined
 *
 */
.textfield.outlined {
  /* resting */
  color: $text-field-resting;

  .textbox {
    background-color: transparent;
    border: 1px solid $text-field-resting;
  }

  /* focus / activated */
  &:focus,
  &:focus-within,
  &:visited,
  .activated {
    color: $text-field-focus;

    .textbox {
      border: 1px solid $text-field-focus;

      input {
        color: $text-field-default;
      }
    }
  }

  /* error */
  &.error {
    color: $text-field-error;

    .textbox {
      border: 1px solid $text-field-error;

      input {
        color: $text-field-default;
      }
    }
  }

  /* disabled */
  &.disabled {
    color: $text-field-disabled;

    .textbox {
      border: 1px solid $text-field-disabled;

      input {
        &::placeholder {
          color: $text-field-disabled;
        }
      }
    }
  }
}
