/*
 *
 * Wrapping text into max 2 lines,
 * truncate remaining overflown text
 *
 */

@mixin wrapped-text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}

/* use this value to count block height */
/* max 2 line inside a tab */
/* max-height = line-height * lines max number (2) */
@mixin subtitle2-wrap {
    line-height: 1.29em;
    max-height: 2.58em;
}
