.alert-chip {
    max-width: 280px;
    min-height: 48px;
    border-radius: $border-radius;
    display: flex;
    justify-content: center;
    align-items: center;
    @include subtitle2;
    color: $hi-white;
    text-align: center;
    vertical-align: middle;
    margin: auto;

    background-color: $hi-gold;
    &.error {
        background-color: $hi-red;
    }   
}
