/*
 *
 * display flex
 *
 */

.flex {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-wrap-r {
  flex-wrap: wrap-reverse;
}
.just-start {
  justify-content: flex-start;
}
.just-end {
  justify-content: flex-end;
}
.just-center {
  justify-content: center;
}
.just-baseline {
  justify-content: baseline;
}
.just-around {
  justify-content: space-around;
}
.just-between {
  justify-content: space-between;
}
.just-evenly {
  justify-content: space-evenly;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.align-baseline {
  align-items: baseline;
}
