/*
 *
 * Buttons
 * 
 * there are 4 types of buttons: default(naked), outlined, contained, and round button
 *
 */

/*
 *
 * Common Variable
 *
 */

$btn-white: $hi-white;
$btn-white-overlay: rgba(255, 255, 255, 0.56);
$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

$btn-color-1-main: $hi-gold;
$btn-color-1-hover: $hi-gold-300;
$btn-color-1-overlay-light: rgba(#8a5300, 0.32);
$btn-color-1-overlay-strong: rgba(#8a5300, 0.56);

$btn-color-2-main: $hi-navy;
$btn-color-2-hover: $hi-navy-600;
$btn-color-2-overlay-light: rgba(#000a33, 0.32);
$btn-color-2-overlay-strong: rgba(#000a33, 0.56);

/*
 *
 * Mixins - Gold
 *
 */

// blended color
$color-1-overlay-white: blendNormal($btn-color-1-overlay-light, $btn-white);
$color-1-overlay-light: blendNormal($btn-color-1-overlay-light, $btn-color-1-main);
$color-1-overlay-strong: blendNormal($btn-color-1-overlay-strong, $btn-color-1-main);
$color-1-white-overlay: blendNormal($btn-white-overlay, $btn-color-1-main);

// default
@mixin btn-gold-default {
  background-color: transparent;
  border-color: transparent;
  color: $btn-color-1-main;
}
@mixin btn-gold-default-disabled {
  background-color: transparent;
  border-color: transparent;
  color: $color-1-white-overlay;
  cursor: not-allowed;
}
@mixin btn-gold-default-hover {
  color: $btn-color-1-hover;
}
@mixin btn-gold-default-pressed {
  background-color: $color-1-overlay-white;
  border-color: transparent;
  color: $color-1-overlay-light;
}

// outlined
@mixin btn-gold-outlined {
  background-color: transparent;
  border-color: $btn-color-1-main;
  color: $btn-color-1-main;
}
@mixin btn-gold-outlined-disabled {
  background-color: transparent;
  border-color: $btn-color-1-overlay-light;
  color: $color-1-white-overlay;
  cursor: not-allowed;
}
@mixin btn-gold-outlined-hover {
  background-color: transparent;
  color: $btn-color-1-hover;
  border-color: $btn-color-1-hover;
}
@mixin btn-gold-outlined-pressed {
  background-color: $color-1-overlay-white;
  border-color: $color-1-overlay-light;
  color: $color-1-overlay-light;
}

// contained
@mixin btn-gold-contained {
  background-color: $btn-color-1-main;
  border-color: $btn-color-1-main;
  color: $btn-white;
}
@mixin btn-gold-contained-disabled {
  background-color: $color-1-white-overlay;
  border-color: $color-1-white-overlay;
  color: $btn-white;
  cursor: not-allowed;
}
@mixin btn-gold-contained-hover {
  background-color: $btn-color-1-hover;
  border-color: $btn-color-1-hover;
  color: $btn-white;
}
@mixin btn-gold-contained-pressed {
  background-color: $color-1-overlay-strong;
  border-color: transparent;
  color: $color-1-white-overlay;
}

/*
 *
 * Mixins - Navy
 *
 */

// blended color
$color-2-overlay-white: blendNormal($btn-color-2-overlay-light, $btn-white);
$color-2-overlay-light: blendNormal($btn-color-2-overlay-light, $btn-color-2-main);
$color-2-overlay-strong: blendNormal($btn-color-2-overlay-strong, $btn-color-2-main);
$color-2-white-overlay: blendNormal($btn-white-overlay, $btn-color-2-main);

// default
@mixin btn-navy-default {
  background-color: transparent;
  border-color: transparent;
  color: $btn-color-2-main;
}
@mixin btn-navy-default-disabled {
  background-color: transparent;
  border-color: transparent;
  color: $color-2-white-overlay;
  cursor: not-allowed;
}
@mixin btn-navy-default-hover {
  color: $btn-color-2-hover;
}
@mixin btn-navy-default-pressed {
  background-color: $color-2-overlay-white;
  border-color: transparent;
  color: $color-2-overlay-light;
}

// outlined
@mixin btn-navy-outlined {
  background-color: transparent;
  border-color: $btn-color-2-main;
  color: $btn-color-2-main;
}
@mixin btn-navy-outlined-disabled {
  background-color: transparent;
  border-color: $btn-color-2-overlay-light;
  color: $color-2-white-overlay;
  cursor: not-allowed;
}
@mixin btn-navy-outlined-hover {
  background-color: transparent;
  color: $btn-color-2-hover;
  border-color: $btn-color-2-hover;
}
@mixin btn-navy-outlined-pressed {
  background-color: $color-2-overlay-white;
  border-color: $color-2-overlay-light;
  color: $color-2-overlay-light;
}

// contained
@mixin btn-navy-contained {
  background-color: $btn-color-2-main;
  border-color: $btn-color-2-main;
  color: $btn-white;
}
@mixin btn-navy-contained-disabled {
  background-color: $color-2-white-overlay;
  border-color: $color-2-white-overlay;
  color: $btn-white;
  cursor: not-allowed;
}
@mixin btn-navy-contained-hover {
  background-color: $btn-color-2-hover;
  border-color: $btn-color-2-hover;
  color: $btn-white;
}
@mixin btn-navy-contained-pressed {
  background-color: $color-2-overlay-strong;
  border-color: transparent;
  color: $color-2-white-overlay;
}

/*
 *
 * Variables and Mixins: Round button
 *
 */

$btn-round-icon: 20px;
$btn-round-large-icon: 28px;
$text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

/*
 *
 * Variables and Mixins: Round button, White
 *
 */

@mixin btn-round-white {
  background-color: white;
  border-color: transparent;
  color: $btn-color-1-main;
}
@mixin btn-white-contained-disabled {
  background-color: $light-disabled;
  border-color: $light-disabled;
  color: $dark-disabled;
  cursor: not-allowed;
}
@mixin btn-white-contained-hover {
  background-color: $color-1-overlay-white;
  border-color: $color-1-overlay-white;
  color: $color-1-overlay-light;
}
@mixin btn-white-contained-pressed {
  background-color: $color-1-overlay-white;
  border-color: $color-1-overlay-white;
  color: $color-1-overlay-light;
}


/*
 *
 * Default button
 *
 */
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.btn {
  // display
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // color and shape
  @include btn-gold-default;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  // typography
  @include body2;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  // other styling
  cursor: pointer;
  outline: none;
  position: relative;
  transition: all 0.2s ease;

  &.btn-large {
    height: 52px;
    // border-radius: 8px;
    @include subtitle1;
  }
  /*
   *
   * Default color Gold, different states
   *
   */
  &:not(.btn-disabled) {
    &:active{
      @include btn-gold-default-pressed;
    }
    &:focus,
    &:focus-within {
      @include btn-gold-default-pressed;
    }
  }
  &.btn-disabled {
    @include btn-gold-default-disabled;
  }
  &.btn-outlined {
    @include btn-gold-outlined;

    &.btn-disabled {
      @include btn-gold-outlined-disabled;
    }

    &:not(.btn-disabled) {
      &:active {
        @include btn-gold-outlined-hover;
      }
      &:focus,
      &:focus-within {
        @include btn-gold-outlined-pressed;
      }
    }
  }
  &.btn-contained {
    @include btn-gold-contained;

    &.btn-disabled {
      @include btn-gold-contained-disabled;
    }

    &:not(.btn-disabled) {
      &:active {
        @include btn-gold-contained-hover;
      }
      &:focus,
      &:focus-within {
        @include btn-gold-contained-pressed;
      }
    }
  }

  /*
   *
   * Color Navy, different states
   *
   */
  &.btn-navy {
    @include btn-navy-default;
    // different states
    &:not(.btn-disabled) {
      &:active {
        @include btn-navy-default-pressed;
      }
      &:focus,
      &:focus-within {
        @include btn-navy-default-pressed;
      }
    }
    &.btn-disabled {
      @include btn-navy-default-disabled;
    }
    &.btn-outlined {
      @include btn-navy-outlined;

      &.btn-disabled {
        @include btn-navy-outlined-disabled;
      }

      &:not(.btn-disabled) {
        &:active {
          @include btn-navy-outlined-hover;
        }
        &:focus,
        &:focus-within {
          @include btn-navy-outlined-pressed;
        }
      }
    }
    &.btn-contained {
      @include btn-navy-contained;

      &.btn-disabled {
        @include btn-navy-contained-disabled;
      }

      &:not(.btn-disabled) {
        &:active {
          @include btn-navy-contained-hover;
        }
        &:focus,
        &:focus-within {
          @include btn-navy-contained-pressed;
        }
      }
    }
  }

  /*
   *
   * Round button with icons
   *
   */
  &.btn-round {
    @include btn-gold-contained;
    // color and shape
    width: 40px;
    height: 40px;
    border-radius: 20px;
    // typography
    text-decoration: none;

    i,
    .icon {
      font-size: $btn-round-icon;
    }
    &.btn-shadow {
      box-shadow: $box-shadow;
    }
    &.btn-large {
      width: 56px;
      height: 56px;
      border-radius: 28px;

      i,
      .icon {
        font-size: $btn-round-large-icon;
      }

      &::before,
      &::after {
        font-size: $btn-round-large-icon;
      }
    }

    &.btn-large.btn-disabled,
    &.btn-disabled {
      @include btn-gold-contained-disabled;
    }
    &:not(.btn-disabled) {
      &:active {
        @include btn-gold-contained-hover;
      }
      &:focus,
      &:focus-within {
        @include btn-gold-contained-pressed;

        i,
        .icon {
          &::before,
          &::after {
            text-shadow: $text-shadow;
          }
        }
      }
    }

    /* white version */
    &.btn-white {
      @include btn-round-white;

      &.btn-large.btn-disabled,
      &.btn-disabled {
        @include btn-white-contained-disabled;
      }
      &:not(.btn-disabled) {
        &:active {
          @include btn-white-contained-hover;
        }
        &:focus,
        &:focus-within {
          @include btn-white-contained-pressed;
  
          i,
          .icon {
            &::before,
            &::after {
              text-shadow: $text-shadow;
            }
          }
        }
      }
    }
  }

  // injected icons
  .icon {
    font-size: inherit;
    &.icon-left {
      padding-right: 8px;
    }
    &.icon-right {
      padding-left: 8px;
    }
  }
}
