$thin: 100;
$extraLight: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
$extraBold: 800;
$black: 900;

/*
 *
 * @font-face mixin
 * https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
 *
 */

// =============================================================================
// String Replace
// =============================================================================

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
	$src: null;

	$extmods: (
		eot: "?",
		svg: "#" + str-replace($name, " ", "_")
	);

	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $ext in $exts {
		$extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
		$format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
		$src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font-family: quote($name);
		font-style: $style;
		font-weight: $weight;
		src: $src;
	}
}

/*
 *  Montserrat
 */

@include font-face(Montserrat, './fonts/Montserrat/Montserrat-Thin', $thin, normal);
@include font-face(Montserrat, './fonts/Montserrat/Montserrat-ThinItalic', $thin, italic);
@include font-face(Montserrat, './fonts/Montserrat/Montserrat-ExtraLight', $extraLight, normal);
@include font-face(Montserrat, './fonts/Montserrat/Montserrat-ExtraLightItalic', $extraLight, italic);
@include font-face(Montserrat, './fonts/Montserrat/Montserrat-Light', $light, normal);
@include font-face(Montserrat, './fonts/Montserrat/Montserrat-LightItalic', $light, italic);
@include font-face(Montserrat, './fonts/Montserrat/Montserrat-Regular', $normal, normal);
@include font-face(Montserrat, './fonts/Montserrat/Montserrat-Italic', $normal, italic);
@include font-face(Montserrat, './fonts/Montserrat/Montserrat-Medium', $medium, normal);
@include font-face(Montserrat, './fonts/Montserrat/Montserrat-MediumItalic', $medium, italic);
@include font-face(Montserrat, './fonts/Montserrat/Montserrat-SemiBold', $semiBold, normal);
@include font-face(Montserrat, './fonts/Montserrat/Montserrat-SemiBoldItalic', $semiBold, italic);
@include font-face(Montserrat, './fonts/Montserrat/Montserrat-Bold', $bold, normal);
@include font-face(Montserrat, './fonts/Montserrat/Montserrat-BoldItalic', $bold, italic);
@include font-face(Montserrat, './fonts/Montserrat/Montserrat-ExtraBold', $extraBold, normal);
@include font-face(Montserrat, './fonts/Montserrat/Montserrat-ExtraBoldItalic', $extraBold, italic);
@include font-face(Montserrat, './fonts/Montserrat/Montserrat-Black', $black, normal);
@include font-face(Montserrat, './fonts/Montserrat/Montserrat-BlackItalic', $black, italic);

/*
 *  Merriweather Sans
 */

@include font-face('Merriweather Sans', './fonts/Merriweather_Sans/MerriweatherSans-Light', $light, normal);
@include font-face('Merriweather Sans', './fonts/Merriweather_Sans/MerriweatherSans-LightItalic', $light, italic);
@include font-face('Merriweather Sans', './fonts/Merriweather_Sans/MerriweatherSans-Regular', $normal, normal);
@include font-face('Merriweather Sans', './fonts/Merriweather_Sans/MerriweatherSans-Italic', $normal, italic);
@include font-face('Merriweather Sans', './fonts/Merriweather_Sans/MerriweatherSans-Bold', $bold, normal);
@include font-face('Merriweather Sans', './fonts/Merriweather_Sans/MerriweatherSans-BoldItalic', $bold, italic);
@include font-face('Merriweather Sans', './fonts/Merriweather_Sans/MerriweatherSans-ExtraBold', $extraBold, normal);
@include font-face('Merriweather Sans', './fonts/Merriweather_Sans/MerriweatherSans-ExtraBoldItalic', $extraBold, italic);

/*
 *
 * class
 *
 */
 
.montserrat-extraLight {
    font-family: Montserrat;
    font-weight: $extraLight;
    font-style: normal;
}

.montserrat-extraLight-italic {
    font-family: Montserrat;
    font-weight: $extraLight;
    font-style: italic;
}

.montserrat-light {
    font-family: Montserrat;
    font-weight: $light;
    font-style: normal;
}

.montserrat-light-italic {
    font-family: Montserrat;
    font-weight: $light;
    font-style: italic;
}

.montserrat {
    font-family: Montserrat;
    font-weight: $normal;
    font-style: normal;
}

.montserrat-italic {
    font-family: Montserrat;
    font-weight: $normal;
    font-style: italic;
}

.montserrat-medium {
    font-family: Montserrat;
    font-weight: $medium;
    font-style: normal;
}

.montserrat-medium-italic {
    font-family: Montserrat;
    font-weight: $medium;
    font-style: italic;
}

.montserrat-semibold {
    font-family: Montserrat;
    font-weight: $semiBold;
    font-style: normal;
}

.montserrat-semibold-italic {
    font-family: Montserrat;
    font-weight: $semiBold;
    font-style: italic;
}

.montserrat-bold {
    font-family: Montserrat;
    font-weight: $bold;
    font-style: normal;
}

.montserrat-bold-italic {
    font-family: Montserrat;
    font-weight: $bold;
    font-style: italic;
}

.montserrat-extraBold {
    font-family: Montserrat;
    font-weight: $extraBold;
    font-style: normal;
}

.montserrat-extraBold-italic {
    font-family: Montserrat;
    font-weight: $extraBold;
    font-style: italic;
}

.montserrat-black {
    font-family: Montserrat;
    font-weight: $black;
    font-style: normal;
}

.montserrat-black-italic {
    font-family: Montserrat;
    font-weight: $black;
    font-style: italic;
}

.merriweather-sans-light {
    font-family: Merriweather Sans;
    font-weight: $light;
    font-style: normal;
}

.merriweather-sans-light-italic {
    font-family: Merriweather Sans;
    font-weight: $light;
    font-style: italic;
}

.merriweather-sans {
    font-family: Merriweather Sans;
    font-weight: $normal;
    font-style: normal;
}

.merriweather-sans-italic {
    font-family: Merriweather Sans;
    font-weight: $normal;
    font-style: italic;
}

.merriweather-sans-bold {
    font-family: Merriweather Sans;
    font-weight: $bold;
    font-style: normal;
}

.merriweather-sans-bold-italic {
    font-family: Merriweather Sans;
    font-weight: $bold;
    font-style: italic;
}

.merriweather-sans-extraBold {
    font-family: Merriweather Sans;
    font-weight: $extraBold;
    font-style: normal;
}

.merriweather-sans-extraBold-italic {
    font-family: Merriweather Sans;
    font-weight: $extraBold;
    font-style: italic;
}
