html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat";
  background-color: $hi-white;
}

section {
  width: 100%;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}

span {
  display: inline;
}

p {
  display: inline;
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
}

.center {
  margin: auto;
}

.text-center {
  text-align: center;
}

/*
 *
 * display
 *
 */

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.hide {
  display: none;
}

/*
 *
 * common class
 *
 */

/*
 *
 * border
 *
 */
.br-1-dot-white {
  border: 1px dotted $hi-white;
}
.br-1-dot-green {
  border: 1px dotted $hi-green;
}
.br-1-dash-white {
  border: 1px dashed $hi-white;
}
.br-1-dash-gold {
  border: 1px dashed $hi-gold;
}
.br-4 {
  border-radius: 4px;
}

/*
 *
 * background colours
 *
 */
.bg-navy {
  background-color: $hi-navy;
}
.bg-gold {
  background-color: $hi-gold;
}
.bg-red {
  background-color: $hi-red;
}
.bg-green {
  background-color: $hi-green;
}
.bg-black {
  background-color: $hi-black;
}
// .bg-grey {
//   background-color: $hi-grey;
// }
// .bg-grey-light {
//   background-color: $hi-grey-light;
// }
.bg-white {
  background-color: $hi-white;
}

/*
 *
 * padding and margin
 *
 */
.mr0 {
  margin: 0;
}
.mr-b-1 {
  margin-bottom: 1rem;
}

/*
 *
 * hiStyle Fonts
 *
 * general setting refers to hiStyle.scss
 *
 */
.icon {
  display: inline;
}
