// variable and mixins
$btn-gold: $hi-gold;
$btn-gold-hover: $hi-gold-300;
$btn-white: $hi-white;

@mixin btn-gold {
  background-color: $btn-gold;
  border-color: $btn-gold;
  color: $btn-white;
}
@mixin btn-gold-hover {
  background-color: $btn-gold-hover;
  border-color: $btn-gold-hover;
}
@mixin btn-hollow-gold {
  background-color: transparent;
  border-color: $btn-gold;
  color: $btn-gold;
}
@mixin btn-hollow-gold-hover {
  color: $btn-gold-hover;
  border-color: $btn-gold-hover;
}

// rectangular button
input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  @include btn-gold;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  margin: 8px;
  padding: 0 24px;
  height: 40px;

  @include body2;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;

  .btn-icon-before {
    margin: 0 8px 0 0;
  }
  .btn-icon-after {
    margin: 0 0 0 8px;
  }

  &.btn-large {
      height: 52px;
      border-radius: 8px;
      @include subtitle1;
  }

  &.btn-hollow {
    @include btn-hollow-gold;
  }

  &.btn-disable {
    opacity: 0.32;
    cursor: not-allowed;
  }

  &:not(.btn-disable):not(.btn-hollow):hover {
    @include btn-gold-hover;
  }

  &.btn-hollow:not(.btn-disable):hover {
    @include btn-hollow-gold-hover;
  }
}

// round button
.btn-round {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 16px 0 $btn-gold;
    cursor: pointer;
    background-color: $btn-gold;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &.btn-no-shadow {
        box-shadow: none;
    }
    
    &.btn-large {
        width: 56px;
        height: 56px;
        border-radius: 28px;
    }

    &.btn-large.btn-disable,
    &.btn-disable {
        opacity: 0.32;
        cursor: not-allowed;
    }

    &:not(.btn-disable):hover {
        background-color: $btn-gold-hover;
    }
}
