/*
 *
 * File Upload Box
 *
 */

.file-uploader {
    width: 282px;

    border-radius: 4px;
    border: 1px solid $hi-gold;
    background-color: $hi-white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .up-control {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        margin-top: 24px;
        margin-bottom: 24px;

        label {
            &::before {
                @include labelMark;
                content: "\EB5D";
                color: $hi-gold;
                font-size: 60px;
                margin-bottom: 4px;
            }

            width: 202px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            .btn {
                @include btn-gold-contained;
                width: fit-content;
                margin-bottom: 0;

                &:active {
                    @include btn-gold-contained-pressed;
                }
            }
        }

        input[type=file] {
            display: none;
        }

        button[type=submit] {
            @include btn-gold-contained;
            width: fit-content;
            margin-bottom: 0;

            &:active {
                @include btn-gold-contained-pressed;
            }
        }
    }
}
