/*
 *
 * Code in this page extracted from below github repo
 *
 * With class name renamed, unused class removed, and certain style changed to suit handy baseline's need
 *
 */

/* -----------------------------------------------------
  Pure CSS Progress Bars
  GitHub Project: https://github.com/rkchauhan/pure-css-progress-bars/
  By: Ravikumar Chauhan
  Find me on -
  Twitter: https://twitter.com/rkchauhan01
  Facebook: https://www.facebook.com/ravi032chauhan
  GitHub: https://github.com/rkchauhan
  CodePen: http://codepen.io/rkchauhan
-------------------------------------------------------- */

/*
 * Progress Bar Default Style
 */

@mixin progress-bar-default {
    .pb-container {
        background-color: $hi-gold-300;
        box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
        
        .pb-bar {
            height: 4px;
        }
    }
}

/* 
 * Progress Bars General
 */

.progress-bar {
    width: 100%;

    .pb-container {
        position: relative;
        overflow: hidden;
        width: 100%;
        
        .pb-bar {
            display: block;
            float: left;
            width: 0%;
            height: 100%;
            background: $hi-gold-500;
            transition: width 0.8s ease-in-out;
        }
    }

    @include progress-bar-default;
}


/*
 * Progress Bar Infinite rolling
 */

.pb-bar.pb-infinite {
    animation: progressBarInfiniteLoad 5s linear infinite;
}

@keyframes progressBarInfiniteLoad {
    0% {
        width: 0%;
        float: left;
    }
    50% {
        width: 100%;
        float: left;
    }
    51% {
        width: 100%;
        float: right;
    }
    100% {
        width: 0%;
        float: right;
    }
}
