/*
 *
 * Components for concierge chat
 *
 *
 *
 *
 */

/*
 *
 * ellipsisAnimation
 *
 */

@mixin ellipsisAnimation {
    /*
     * Reference To:
     * https://stackoverflow.com/questions/43658924/css-animation-ellipses-starting-from-the-end-and-repeating
     *
     */

    font-size: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:after {
        content: "";
        overflow: hidden;
        display: inline-block;
        vertical-align: bottom;
        animation: ellipsis-dot 2s infinite .3s;
        animation-fill-mode: fowards;
        width: 28px;
        margin-bottom: 10px;
    }

    @keyframes ellipsis-dot {
        25% {
            content: ".";
        }

        50% {
            content: ". .";
        }

        75% {
            content: ". . .";
        }

        100% {
            content: "";
        }
    }
}

/*
 *
 * audio-bg-animation
 *
 */

@mixin audio-bg-animation {
    position: relative;
    overflow: hidden;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: $dark-enabled;

        content: "";
        overflow: hidden;
        animation-name: audio-bg;
        animation-timing-function: linear;
        animation-direction: right;
        animation-fill-mode: fowards;
        animation-play-state: running;
        animation-duration: 5s;

        @keyframes audio-bg {
            100% {
                width: 101%;
            }
        }

    }

    &.infinite-animation {
        &::before {
            animation-iteration-count: infinite;
        }
    }

    &.pause-animation {
        &::before {
            animation-play-state: paused;
        }
    }
}

/*
 *
 * audio-btn-animation
 *
 */

@mixin audio-btn-animation {
    animation-name: voice-input;
    animation-timing-function: ease-in-out;
    animation-direction: alternate-reverse;
    animation-fill-mode: fowards;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-duration: 1s;

    @keyframes voice-input {
        from {
            transform: scale(0.8);
        }

        to {
            transform: scale(1.2);
        }
    }
}

/*
 *
 * Input box
 *
 */

.chat-text {
    @include body2;

    width: 248px;
    min-height: 36px;
    padding-top: 8px;
    padding-left: 16px;

    border: none;
    border-top-left-radius: 16px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    outline: none;
    resize: none;
    overflow: hidden;
    background-color: $dark-lightest;
    color: $dark-default;

    ::placeholder {
        color: $dark-enabled;
    }
}

.chat-voice,
.chat-send {
    position: relative;
    height: 36px;

    &::after {
        content: "";
        width: 36px;
        height: 36px;
        position: absolute;
        top: 0;
        left: -25%;
        border-radius: 50%;
    }

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
}

.chat-voice {
    margin-right: 16px;
    color: $dark-default;

    &:active,
    &.talking {
        &::before {
            color: $hi-gold;
        }
        &:after {
            @include audio-btn-animation;
            background-color: $btn-color-1-overlay-light;
        }
    }
}

.chat-send {
    margin-left: 16px;
    color: $dark-disabled;

    &.send-enabled {
        color: $hi-gold;
    }
}

.chat-input {
    width: 100%;
    min-width: 360px;
    padding: 16px;

    background-color: $hi-white;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}


/*
 *
 * Text Bubbles
 *
 */

.chat-bubble {
    @include body2;
    display: flex;
    width: 100%;

    &.bubble-left,
    &.bubble-right {
        .msg-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;

            max-width: 70%;
            border-radius: 16px;
            padding: 16px;

            .msg-typing {
                @include ellipsisAnimation;
            }

            .audio-control {
                display: flex;
                justify-content: center;
                align-content: center;
                font-size: 20px;
                margin-right: 16px;
            }
        }
    }


    &.bubble-left {
        justify-content: flex-start;

        .avatar {
            margin-right: 8px;
            width: 32px;
            height: 32px;
        }

        .msg-wrapper {
            border-top-left-radius: 4px;
            background-color: blendNormal($dark-lightest, $hi-white);
            color: $dark-default;
        }
    }

    &.bubble-right {
        justify-content: flex-end;

        .msg-wrapper {
            border-top-right-radius: 4px;
            background-color: $hi-gold;
            color: $hi-white;
        }
    }

    margin-bottom: 16px;

    &:last-child {
        margin-bottom: 0;
    }

    /*
     *
     * Voice msg animation
     *
     */
    .msg-wrapper.playing {
        @include audio-bg-animation;
    }
}
