/*
 *
 * Menu
 *
 * "Menus display a list of choices on temporary surfaces."
 * 
 * Use "List" to generate menu.
 * 
 */

@mixin showMenu {
    visibility: visible;
    opacity: 1;
    z-index: 100;
    transform: translateY(0%);
    /* this removes the transition delay so the menu will be visible while the other styles transition */
    transition-delay: 0s, 0s, 0.5s;
}

.menu-anchor {
    position: relative;
}

.menu {
    position: absolute;

    background-color: $hi-white;
    box-shadow: $box-shadow;
    color: $dark-default;
    width: 50%;

    @include subtitle2;

    top: 100%;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-2em);
    z-index: -1;
    transition: visibility 0s linear 0.6s, z-index 0s linear 0.01s, all 0.5s ease-in-out 0.5s;
    
    &.m-show {
        @include showMenu;
    }

    &.m-full {
        @include subtitle1;
        width: 100%;
    }

    .list .list-row {
        // add effect for menu item
        @include rippleEffect;

        // over ride item divider
        .list-content {
            border-bottom: none;
        }
    }
}
