.modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba($hi-bl-grey-light, 0.5);

  .modal-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: $hi-white;
    border-radius: 4px;

    width: 280px;
    padding: 24px;

    .modal-header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: $dark-default;

      .icon {
        font-size: 60px;
        color: $hi-gold;
        margin-bottom: 8px;
      }

      .modal-title {
        @include subtitle1;
        text-align: center;
        margin: 0;
      }
    }

    .modal-body {
      @include body2;
      text-align: center;
      color: $dark-enabled;
      margin-top: 8px;
    }

    .modal-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 8px;

      .btn {
        width: 100%;
        max-width: 280px;
        margin-bottom: 0;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      &.stacked {
          flex-direction: column;
          align-items: flex-end;
          width: 100%;
        .btn {
          width: unset;
          max-width: unset;
          margin: 8px 0 0 0;
        }
      }
    }
  }
}
