/*
 *
 * Tabs
 *
 * "Tabs organize content across different screens, data sets, and other interactions."
 *
 * Fixed/Equal Width
 * Scrollable
 * As many as needed
 * Wrap text if too long
 * Only Truncate text if they are still too long after wrapping
 *
 */

/*
 *
 * Tab Style - Gold / Default
 *
 */

$tab-white: $hi-white;
$tab-gold: $hi-gold;
$tab-white-overlay: rgba(255, 255, 255, 0.56);
$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

$tab-color-1-main: $hi-gold;
$tab-color-1-hover: $hi-gold-300;
$tab-color-1-overlay-light: rgba(#8a5300, 0.32);
$tab-color-1-overlay-strong: rgba(#8a5300, 0.56);

// blended color
$color-1-overlay-white: blendNormal($tab-color-1-overlay-light, $tab-white);
$color-1-overlay-light: blendNormal($tab-color-1-overlay-light, $tab-color-1-main);
$color-1-overlay-strong: blendNormal($tab-color-1-overlay-strong, $tab-color-1-main);
$color-1-white-overlay: blendNormal($tab-white-overlay, $tab-color-1-main);

/*
 *
 * Tab Style - Navy
 *
 */

$tab-navy: $hi-navy;
$tab-color-2-main: $hi-navy;
$tab-color-2-hover: $hi-navy-600;
$tab-color-2-overlay-light: rgba(#000a33, 0.32);
$tab-color-2-overlay-strong: rgba(#000a33, 0.56);

// blended color
$color-2-overlay-white: blendNormal($tab-color-2-overlay-light, $tab-white);
$color-2-overlay-light: blendNormal($tab-color-2-overlay-light, $tab-color-2-main);
$color-2-overlay-strong: blendNormal($tab-color-2-overlay-strong, $tab-color-2-main);
$color-2-white-overlay: blendNormal($tab-white-overlay, $tab-color-2-main);

/*
 *
 * Tab Style - Default
 *
 */

@mixin single-tab {
  /* display */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Typography */
  @include subtitle2;
  text-align: center;
  // overflow: hidden;
  // text-overflow: ellipsis;
  /* Sizing */
  min-width: 120px;
  height: 48px;
  padding: 0 16px;
  /* Color */
  color: $dark-enabled;
  background-color: $tab-white;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  /* other styling */
  cursor: pointer;
  transition: color 0.5s ease;
  transition: background-color 0.5s ease;

  .tab-text {
    @include wrapped-text-ellipsis;
    @include subtitle2-wrap;
  }

  &.active {
    color: $tab-gold;
    border-bottom: 2px solid $tab-gold;
  }

  /* pressed (active) */
  &:not(.active):not(.disabled) {
    &:active {
      background-color: $color-1-overlay-white;
      border: none;
      color: $hi-gold;
    }
    &:focus,
    &:focus-within {
      background-color: $color-1-overlay-white;
      border: none;
      color: $hi-gold;
    }
  }

  &.disable {
    cursor: not-allowed;
  }

  .icon {
    padding-left: 8px;
  }
}

/*
 *
 * Tab Style - Gold
 *
 */

@mixin tab-gold {
  color: $light-enabled;
  background-color: $hi-gold;

  &.active {
    color: $hi-white;
    border-bottom: 2px solid $hi-white;
  }

  &:not(.active):not(.disabled) {
  }
}

/*
 *
 * Tab Style - Navy
 *
 */

@mixin tab-navy {
  color: $light-enabled;
  background-color: $hi-navy;

  &.active {
    color: $hi-white;
    border-bottom: 2px solid $hi-white;
  }

  &:not(.active):not(.disabled) {
    &:active {
      background-color: $color-2-overlay-white;
      border: none;
      color: $tab-navy;
    }
    &:focus,
    &:focus-within {
      background-color: $color-2-overlay-white;
      border: none;
      color: $tab-navy;
    }
  }
}

/*
 *
 * Single tab
 *
 */

.tab {
  @include single-tab;

  &.tab-gold {
    @include tab-gold;
  }

  &.tab-navy {
    @include tab-navy;
  }
}

/*
 *
 * Tab Bar
 *
 */

.tabs {
  @include horizontal-scroll;

  background-color: $hi-white;

  .tab {
    flex: 0 1 auto;
  }
}
